#root {
    display: flex;
    margin: auto;
    min-height: 100vh;
    padding: 15px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

/* Common */
.not-visible {
    display: block;
    opacity: 0;
    height: 0;
    width: 0;
}
